        /* CSS Styling */
        
        body {
            font-weight: 300;
            font-size: 2.75vmin;
        }
        
        header {
            background-color: var(--green);
            color: white;
            text-align: center;
            padding: 1em 0;
            font-size: 3vmin;
        }

        main {
            padding: 10px;
            max-width: 800px;
            margin: 20px auto;
            background-color: var(--white);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }

        .profile-container {
          background-color: var(--white);
          border: 0px solid red;
          width: 86vw;
          margin-left: 6vw;
          margin-right: 6vw;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          padding: 2vmin;
        }
        
        .profile{
          background-color: #f2f2f2;
          border: 0px solid #ddd;
          width: 100%;
          border-radius: 5vmin;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 4vmin;
          border: 0px solid blue;
        }
        
        .pic {
          width: 14vw;
        }
        
        
        .stats {
          width: 17vw;
        }
        
        .bio {
          width: 38vw;
        }
        
        .pic, .bio, .stats, .picimg, .contribinfo {
          margin: 1vmin;
          padding: 1vmin;
          /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
          border-radius: 2vmin;
          letter-spacing: 1px;
          line-height: 1.25;
        }
        
        
        .picimg {
          height: 19vw;
          width: 14vw;
          object-fit: cover;
          border-radius: 2vmin;
          padding: 0vmin;
          margin: 0vmin;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        }
        
        .pic {
          margin: 2vmin;
          padding: 0vmin;
          border-radius: 0vmin;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.0);
        }
        
        .contribinfo {
          padding-left: 5vw;
          padding-right: 5vw;
          padding-top: 4vh;
          padding-bottom: 0vh;
          margin-bottom: 0vmin;
        }
        
        .acontrib {
          text-decoration: none;
          color: #000;
          font-weight: 500;
        }
        
        .alink, a {
          text-decoration: none;
          color: #000;
          font-weight: 400;
        }
        
        
        @media only screen and (max-width: 600px) {
          
          body {
            font-size: 5vmin;
            font-weight: 100;
          }
          
          .contribinfo {
            margin-bottom: 3vh;
          }
          
          .profile-container {
            width: 94vw;
            margin-left: 3vw;
            margin-right: 3vw;
            padding: 0vmin;
          }
          
          .profile{
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 8vmin;
          }
          
          .pic, .stats, .bio {
            width: 90%;
            line-height: 1.05;
          }
          
          .pic {
            display: flex;
            justify-content: center; /* Centers horizontally */
            align-items: center;     /* Centers vertically */
            margin-bottom: 3vh;
            margin-top: 2vh;
          }

          .picimg {
            height: 30vh;
            width: 25vh;
            object-fit: cover;
            border-radius: 2vmin;
            padding: 0vmin;
            margin: 0vmin;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          }

        }