
    .keyContainer div {
        margin-bottom: 10px;
    }
    
    .keyRow {
        display: flex; /* Use flex layout for the parts */
        align-items: flex-start; /* Top align first and middle parts */
        position: relative; /* For positioning third part */
        border-bottom: 1px dotted #bbb;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    
    @media only screen and (max-width: 600px) {
      .keyRow {
          flex-direction: column;
      }
    }
    
    .highlight {
        background-color: #e1e1e1;
        border-left: 0px solid red;
        transition: background-color 1s ease;
        border-radius: 5px;
    }
    
    .keyPart {
        margin: 0px;
        margin-right: 2px; /* Add space between the parts */
        padding: 0vw;
    }
    .keyLeft {
        font-weight: 500;
        border: 0px solid #bbb;
    }
    .keyMiddle {
        /*flex-grow: 1; /* Allow the middle part to grow and take remaining space */
        max-width: 80%;
        margin: 0px;
        border: 0px solid #bbb;
    }
    .keyRight {
        font-weight: 500;
        /* position: absolute; /* Position it absolutely within the row */
        /*bottom: 0; /* Align to bottom */
        /*right: 0; /* Align to right */
        align-self: flex-end;
        border: 0px solid #bbb;
        margin-left: auto;
    }
    .akey {
      all: unset;
      cursor: pointer;
    }