
:root {
    --green: #3FA34DDD; /* #3FA34D; /* #3FA34D #538D22; #40916C; #40916C; #228b22; */
    --white: #fcfcfc;/* #fdfdfd;
    --black: #111; /* #111111; */
    --gray: #fff8dc77; /* #fff8dc77; */
    --lightgray: #eee;
    --lightgreen: #3FA34DDD; /* #3FA34DBB; the previous pale one*/
    --transparentgreen: #3FA34D33; /* #3FA34DBB; the previous pale one*/
    --palegreen: #E9F6EB;
    --black: #444;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white); /* White background */
    font-family: 'League Spartan', Helvetica, Arial, sans-serif; /* 'Roboto', sans-serif; */ /* Modern font */
    padding: 0px; /* 5 */
    margin-left: 0%; /* 5 */
    margin-right: 0%; /* 5 */
    margin-bottom: 5vh;
    /* text-shadow: '1px 1px #000'; */
    /* overflow: hidden; */
    /* scrollbar-gutter: stable; */
}

@media only screen and (max-width: 600px) {
  body {
    margin-left: 0%;
    margin-right: 0%;
  }
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--lightgreen);/*#dfdfdf;/* #00000011; /* Dark green header */
    padding-top: 2vmin; /* Reduced padding */
    padding-bottom: 2vmin;
    margin-bottom: 0.0vmin;
    color: var(--white); /* Header text color */
    border-bottom: 0px solid #00000015 ;
    border-top: 0px solid #00000015 ;
    border-top: 0px solid var(--green);
    box-shadow: 0px 0px #EEEEEE;
    /* border-radius: 10px 10px 10px 10px; */
}

@media only screen and (max-width: 600px) {
  #header {
    justify-content: space-evenly;
  }
  
  #header_title{
    order: 0;
  }
  
  #header_tomselect{
    order: 3;
  }
  
  #header_tab{
    order: 1;
  }
  
  #header_logo{
    order: 2;
  }
}


.tab_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab {
    font-size: 3vmin; /* Larger font size for the header title */
    font-weight: normal;
    letter-spacing: 2px; /* Adjust spacing as needed */
    margin-right: 1vw;
    /* overflow: hidden;
    transition: transform 0.2s ease-in-out; */
}

@media only screen and (max-width: 600px) {
  .tab_container {
    flex-direction: column;
  }
  .tab {
    font-size: 4vmin; /* Larger font size for the header title */
    font-weight: normal;
    letter-spacing: 2px; /* Adjust spacing as needed */
    /*margin-right: 4vmin;*/
    margin-top: 2px;
    margin-bottom: 1px;
    /* overflow: hidden;
    transition: transform 0.2s ease-in-out; */
  }
}

#tab:hover {
    /* font-size: 4vh;
    transform: scale(1.1); */
}

#logo {
    width: 3vmax;
    margin: 0;
    padding: 0;
    margin-right: 2vw;
}

#home_tab, #explorer_tab, #contribuer_tab, #apropos_tab {
    font-size: 3.5vmin; /* Larger font size for the header title */
    font-weight: normal;
    letter-spacing: 2px; /* Adjust spacing as needed */
    margin-left: 2vw;
    cursor: pointer;
    /* text-shadow: 1px 1px green; */
}

#home_tab {
    font-size: 4.5vmin; /* Larger font size for the header title */
}


#filters {
    display: none; /* flex; */
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background-color: var(--white);/*var(--white); /* White background */
    padding: 10px 0;
    margin-top: 2vh;
    border-bottom: 0px solid #eee; /* Dark green top border */
    border-left: 0px solid #eee;
    border-right: 0px solid #eee;
    border-radius: 0px 0px 10px 10px; /* Rounded corners */
    
}


@media only screen and (max-width: 600px) {
    #title {
      font-size: 7vmin; /* Larger font size for the header title */
      max-width: 30vw;
    }
  
    #filters {
        padding: 0px 0;
        margin-top: 0vh;
    }
    
    #logo {
      width: 5vmax;
    }
    
    #home_tab {
      font-size: 7vmin; /* Larger font size for the header title */
    }
    
    #explorer_tab, #contribuer_tab, #apropos_tab {
        font-size: 4vmin; /* Larger font size for the header title */
        font-weight: normal;
        letter-spacing: 2px; /* Adjust spacing as needed */
        margin-left: 2vw;
        cursor: pointer;
        /* text-shadow: 1px 1px green; */
    }    
    
}

.img {
  loading: "lazy";
}

.dropdown-container {
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
    border: 5px solid var(--green); /* Dark green border */
    border-radius: 15px; /* Rounded corners */
    background: var(--white);/* var(--lightgray); /* Rounded corners */
    border-color: var(--white);/* var(--lightgray);
    margin-top: 5px;
}

.dropdown-label {
    margin-top: 0px; /* Adjust top margin */
    font-weight: italic;
    font-size: 3vmin; /* 2.5 */
    color: var(--green); /* Dark green label text color */
}

.dropdown-input {
    width: 19vmin; /* Adjust the width as needed 225px*/
    padding: 8px;
    border: 1px solid var(--lightgreen);
    background-color: var(--white); /* White background */
    font-size: 2vmin; /* Larger font size for dropdowns */
    font-style: italic;
    color: black; /* Font color for dropdown values (changed to black) */
    border-radius: 10px; /* Rounded corners */
    border-color: var(--transparentgreen);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'League Spartan';
    /* box-shadow: 1px 1px #eee; */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .dropdown-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        border: 5px solid var(--green); /* Dark green border */
        border-radius: 10px; /* Rounded corners */
        background: var(--white); /* Rounded corners */
        border-color: var(--white);
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 80vw;
        box-sizing: border-box;
    }

    .dropdown-label {
        font-size: 3vh;
    }
    .dropdown-input {
        font-size: 2.5vh; /* Larger font size for dropdowns */
        width: 96%; /* Adjust the width as needed */
        padding: 5px;
        padding-left: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px; /* Rounded corners */
        box-sizing: border-box;
    }
}


.selected {
    color: var(--black);
    font-size: 6vmin; /* Larger font size for dropdowns */
    padding-top: 2vmin;
    padding-bottom: 1vmin;
    font-style: italic;
    font-weight: 500;
    width: 82vw;
    border-radius: 2vmin;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 0vh;
    background-color: var(--white); /* #f2f2f2; */
    /* border: 1px solid var(--transparentgreen); */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

@media only screen and (max-width: 600px) {
    .gallery {
        margin-top: 0px;
        /*margin: 0px;
        padding: 0px;*/
    }
    
    .selected{
      width: 96vw;
    }
    
    
    .selected:hover {
       transform: none;
    }
}


.image-container {
    width: 38vh; /* 33vh of the viewport height */
    height: 40vh; /* 35vh of the viewport height */
    margin: 0.75vw;
    position: relative;
    border-radius: 15px; /* Rounded corners for image containers */
    /* overflow: hidden; */
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3); /* 0 4px 6px 0.1 Box shadow for images 4px 6px */
    border: 0px solid #999;
    background-color: #ddd;
    transition: transform 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .image-container {
        width: 47vw; /* 80vw of the viewport height */
        height: 55vw; /* 80vw of the viewport height */
        margin: 1vw;
        border-radius: 5px; /* Rounded corners for image containers */
    }
}



.image {
    width: 100%; /* hack for underflow problem of image with title area */
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border-radius: 15px; /* Rounded corners for images */
    transform: none;
    background-color: #ddd;
}

.image-container:hover {
    transform: scale(1.06);
}

@media only screen and (max-width: 600px) {
  .image {
    border-radius: 5px; /* Rounded corners for images */
  }
  
  .image-container:hover {
      transform: none;
  }
}


.image-title {
    position: absolute;
    bottom: 2%;
    left: 2%;
    width: 96%;
    background-color: rgba(255, 255, 255, 0.85); /* White background with transparency */
    color: #000; /* Black title text */
    text-shadow: 0px 0px #555;
    padding: 0px; /* Larger padding for title */
    padding-top: 6px; /* Larger padding for title */
    padding-bottom: 1px; /* Larger padding for title */
    font-size: 2.45vmin; /* Larger font size for title */
    font-style: italic;
    text-align: center;
    border-radius: 15px 15px 15px 15px; /* Rounded corners at the bottom */
    font-weight: normal; /* Bold title text */
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 0px solid #fff;
    border-top: 0px solid #fff;
    text-shadow: 0px 0px #FFF;
}


.image-credit {
    color: #555; /* Black title text */
    padding: 2px; /* Larger padding for title */
    font-size: 1.2vmin; /* Larger font size for title */
    text-align: left;
    border-radius: 0 0 15px 15px; /* Rounded corners at the bottom */
    font-weight: normal; /* Bold title text */
    font-style: normal;
    text-shadow: 0px 0px #777;
}

@media only screen and (max-width: 600px) {
    .image-title {
        text-shadow: 0px 0px #555;
        border-radius: 5px 5px 5px 5px; /* Rounded corners at the bottom */
        font-size: 4vmin; /* Larger font size for title */
        padding-bottom: 0px; /* Larger padding for title */
    }

    .image-credit {
        border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
        font-size: 2.5vmin; /* Larger font size for title */
    }
}




.image-map {
    position: absolute;
    top: 2%;
    right: 0%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.01); /* White background with transparency */
    color: black; /* Black title text */
    padding: 0px; /* Larger padding for title */
    padding-top: 0px; /* Larger padding for title */
    padding-bottom: 0px; /* Larger padding for title */
    font-size: 2.45vh; /* Larger font size for title */
    font-style: italic;
    text-align: center;
    font-weight: normal; /* Bold title text */
    border-radius: 10px 10px 10px 10px; /* Rounded corners at the bottom */
}

.image-map-mini {
    height: 9vh;
    opacity: 0.90;
}


@media only screen and (max-width: 600px) {
    .image-map {
        position: absolute;
        top: 1%;
        right: 0%;
        width: 30%;
        background-color: rgba(255, 255, 255, 0.01); /* White background with transparency */
        color: black; /* Black title text */
        padding: 0px; /* Larger padding for title */
        padding-top: 0px; /* Larger padding for title */
        padding-bottom: 0px; /* Larger padding for title */
        font-size: 2.45vh; /* Larger font size for title */
        font-style: italic;
        text-align: center;
        font-weight: normal; /* Bold title text */
    }
    .image-map-mini {
        height: 7vh;
        opacity: 0.9;
    }
}

.modal {
    display: none;
    position: fixed; /* fixed */
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.99);
    overflow: auto;
    border-top: 0px solid #ddd;
}

.modal-content {
    background-color: var(--white);
    margin: 0% auto;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px; /* 20 */
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    display: none;
}

.modal-container { /* to shrink the modal content and keep the banner fullwidth */
  margin-left: 6%;
  margin-right: 6%;
}

@media only screen and (max-width: 600px) {
  .modal {
      display: none;
      position: fixed; /* fixed */
      z-index: 1;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      max-width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
  }
 .modal-content {
    background-color: var(--white);
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
    border-radius: 0px;
    max-width: 100%;
    box-sizing: border-box;
    /* white-space: pre-wrap; /* so that it respects paragraphs without the br tag */
  }
  
  .modal-container { /* to shrink the modal content and keep the banner fullwidth */
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 0vw;
  }
  
}

.head {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: space-around;
  align-items: center;
  margin-top: 1vmin;
  padding-bottom: 1vmin;
}

#spname {
  display: flex;              
  flex-direction: row;            
  align-items: baseline;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

@media only screen and (max-width: 600px) {
    .head {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
}

.modal-header {
    font-size: 6.5vmin;
    font-weight: 500;
    font-style: italic;
    color: var(--black);
    text-align: center;
    margin-top: 0vmin;
    margin-bottom: 0vmin;
    margin-right: 1vw;
    padding-top: 0vmin;
    padding-bottom: 0vmin;
    background-color: var(--white); /* #00640033; */
}

.modal-author {
    font-size: 2.75vmin;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
    text-align: center;
    margin-top: 0vmin;
    margin-bottom: 0vmin;
    padding-top: 0vmin;
    background-color: var(--white); /* #00640033; */
}

.modal-text {
    font-size: 3vmin;
    font-weight: 300;
    margin-bottom: 1vmin;
    background-color: var(--white);
    color: #333;
    letter-spacing: 1px;
    line-height: 1.25;
    /* text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.48); /* https://www.cssportal.com/css3-text-shadow-generator/ */
}

h1 {
    font-size: 4.5vmin;
    font-weight: normal;
    color: #000;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}

h2 {
    
    font-size: 4vmin;
    font-weight: normal;
    color: #000;
    font-family: 'League Spartan', Helvetica, Arial, sans-serif;
}

.fl {
    
    font-size: 4vmin;
    font-weight: 500;
    color: #000;
    font-family: 'Special Elite', Helvetica, Arial, sans-serif;
}

.accueil {
  all: unset; 
  display: flex; 
  flex-direction: column; 
  flex-wrap: nowrap; 
  align-items: center; 
  justify-content: center; 
  margin-top: 12vh;
}

.welcome {
    width: 100%;
    font-size: 6vmin;
    font-weight: 500;
    color: var(--green);
    flex-wrap: wrap;
    text-align: center;
}
.construction {
    width: 100%;
    margin-top: 1vh;
    font-size: 3vmin;
    color: var(--green);
    flex-wrap: wrap;
    text-align: center;
}


@media only screen and (max-width: 600px) {
  
  .accueil {
    margin-top: 5vh;
  }
  
  .welcome {
    font-size: 7.5vmin;
  }
  .construction {
      margin-top: 2vh;
      font-size: 5vmin;
  }
  
}


h3 {
    font-size: 3.5vmin;
    font-weight: normal;
    color: #333;
}

.textchange {
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 3vh;
    color: #333;
    text-align: left;
    z-index: 1;
    /* transition: transform 0.15s ease-in-out; */
}

/* .textchange:hover {
  transform: scale(1.1);
} */

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
} 

@media only screen and (max-width: 600px) {
    .modal-header {
        font-size: 8vmin;
        text-shadow: 0px 0px #555;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }

    .modal-text {
        font-size: 6vmin;
        font-weight: 100;
        color: black;
        line-height: 1.05;
    }

    h2 {
        font-size: 7vmin;
        font-weight: normal;
    }
    
    ul {
       gap: 1.92vh;
       margin-left: 4vw;
       padding-left: 1vw;
    } 
}

.modal-paragraph {
    font-size: 20vmin;
    margin-top: 1vmin;
    background-color: var(--white);
}

.modal-images {
    display: flex;
    justify-content: center; /* center; */
    flex-wrap: wrap;
    align-items: flex-start;
}

.modal-image {
    width: 9.25vw; /* 17 */
    height: 9.25vw;
    margin: 0.5vw;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    flex-grow: 1;
    background-color: #EEE;
    /* clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%); */
}

.modal-image:hover {
    transform: scale(1.07);
}

.gallery2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.95);
    z-index: 1;
}

.gallery-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap; /* flush caption to bottom*/
}

.zoom {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.zoomed {
   transform: scale(3); /* Zoom in */
}

/* .zoomeddiv {
   transform: scale(3); Zoom in
} */

.gallery-image {
    margin-top: 1vmin;
    height: 85vh;
    border-radius: 15px;
    /* position: absolute; */
    top: 0; /* to the bottom new stuff for the zooming */
    left: 0;
    width: 100%;   
    cursor: zoom-in;
    transition: transform 0.2s ease;
    transform-origin: 0 0; /* Set the transform origin to the top left corner */
}

@media only screen and (max-width: 600px) {
    .gallery-content {
       max-width: 100%;
       flex-direction: column;
    }
    .gallery-image {
        width: 100vw;
        height: auto;
        max-height: 90vh;
        border-radius: 15px;
    }
    .modal-image {
        width: 40vw; /* 17 */
        height: 40vw;
        margin: 1vw;
    }
    .modal-image:hover {
        transform: none;
    }
}

.close_modal {
    display: none;
    position: fixed;
    top: 0.5vw;
    right: 2vw;
    font-size: 8vmin; /* Larger font size for the close button */
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    font-weight: 200;
    z-index: 1000;
}

@media only screen and (max-width: 600px) {
    .close_modal {
        display: block;
        top: 15vh;
        right: 3vw;
        font-size: 15vmin; /* Larger font size for the close button */
        font-weight: 400; /* Larger font size for the close button */
        color: rgba(0,0,0,0.5);
    }
}


.close_gallery {
    position: absolute;
    top: 0vw;
    right: 1vw;
    font-size: 15vmin; /* Larger font size for the close button */
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    font-weight: 200;
    z-index: 100;
}

@media only screen and (max-width: 600px) {
    .close_gallery {
        top: 4vh;
        right: 3vw;
        font-size: 15vmin; /* Larger font size for the close button */
        font-weight: 400;
        color: rgba(255,255,255,0.5);
    }
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15vmin; /* Larger font size for the arrows */
    color: rgba(255,255,255,0.5);
    cursor: pointer;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    padding-left: 15vmin;
    padding-right: 15vmin;
    z-index: 100;
}

.prev {
    left: 2vmin;
}

.next {
    right: 2vmin;
}

.prev:hover {
    /* color: #333; */
}

.next:hover {
    /* color: #333; */
}


@media only screen and (max-width: 600px) {
    .prev, .next {
        display: none;
    }
}



.map {
    width:95%;
    padding-top: 2vh;
    margin: auto;
    display: block;
    /*visibility: visible;*/
    background-color: var(--white);
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    /*transition: opacity 2s ease;*/

}

.map:hover {
  transform: scale(1.05);
}

#map2 { 
  height: 45vh; 
  width: 95%; 
  display: none;
  /*visibility: hidden;*/
  border-radius: 15px; 
  margin: 2vmin;
  /*transition: opacity 2s ease;*/
}

.pheno {
    width: 95%;
    padding-top: 3vh;
    padding-bottom: 2vh;
    margin: auto;
    display: block;
    background-color: var(--white);
}

@media only screen and (max-width: 600px) {
    .map, .pheno {
        width: 95%;
    }
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 58%;
  padding-left: 1%;
  background-color: var(--white);
  border-top: 0px solid #DDDDDD;
  border-radius: 0px;
}

.footer1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3vmin;
  border-top: 1px solid #DDDDDD;
}

@media only screen and (max-width: 600px) {
    .footer1 {
        border-top: 0px solid #DDDDDD;
    }
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  width: 35%;
  padding: 0px;
  border-top: 0px solid #00640033;
  background-color: var(--white);
  border-radius: 0px;
}

@media only screen and (max-width: 600px) {
    .main {
      flex-direction: column-reverse;
    }

    .column1 {
      width: 100%;
    }

    .column2 {
      width: 100%;
    }
}

.taxonomy, .taxonomylink {
  color: #aaa; /* #999; */
  font-size: 3vmin;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  margin-bottom: 0vmin;
  margin-top: 0vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  text-shadow: 1px 1px #FFF;
}

.taxonomylink {
  text-decoration: underline;
  text-decoration-color: #ddd;
  text-decoration-thickness: 2px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0vmin;
  margin-right: 0vmin;
  transition: transform 0.15s ease-in-out;
}

.taxonomylink:hover {
  transform: scale(1.3);
}

.fillline {
 border-top: 2px solid #dfdfdf;
 flex-grow: 1;
}



@media only screen and (max-width: 600px) {
  .taxonomy {
    display: none;
  }
}

.container, .links {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: wrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: var(--white);
  border-radius: 0px;
  padding-top: 1.25vh;
  padding-bottom: 0.75vh;
  margin-left: 0vmin;
  margin-bottom: 0.5vmin;
  border-bottom: 0px solid #ddd;
  align-items: center;
}

.links{
  margin-left: 2vmin;
  border: 0px solid #ccc;
  opacity: 0.85;
}

@media only screen and (max-width: 600px) {
  .container, .links {
    background-color: var(--white);
    justify-content: center;
  }
  .links {
    padding-top: 2.25vh;
  }
}

.container > div {
  /* border: 2px solid red; */
}

.fna {
  display: flex;
  height: 3vmin;
  margin-right: 0.5vw;
  transition: transform 0.2s ease-in-out;
  border-radius: 1px;
  /* text-align: right; */
}

.fna:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
    .fna {
      display: flex;
      height: 8vmin;
      margin-right: 1vw;
      margin-top: 2vh;
      margin-bottom: 2vh;
      transition: transform 0.2s ease-in-out;
    }
    .fna:hover {
      transform: none;
    }
}

.caption {
  display: flex;
  font-size: 3.5vmin;
  font-weight: normal;
  color: white;
  text-align: center;
  margin-bottom: 1vmin;
  margin-top: 1vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  width: 90%;
  justify-content: center; /* align center */
}

.link {
  display: flex;
  font-size: 2.5vmin;
  font-weight: normal;
  color: var(--green);
  text-align: center;
  margin-bottom: 1vmin;
  margin-top: 0vmin;
  margin-left: 2vmin;
  margin-right: 2vmin;
  width: 90%;
  justify-content: center; /* align center */
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .caption {
    font-size: 4vmin;
  }
  .link {
    font-size: 3vmin;
  }
}

.contributor, .doi, .edit {
  display: flex;
  font-size: 1.75vmin;
  font-weight: normal;
  color: #888;
  text-align: center;
  margin-bottom: 1vmin;
  margin-top: 1vmin;
  margin-left: 0vmin;
  margin-right: 0vmin;
  justify-content: center; /* align center */
  align-items: center;
  text-decoration: none;
}


.minioctocat {
    height: 1.5vmin;
    margin-left: 0.5vmin;
    opacity: 0.5;
}


@media only screen and (max-width: 600px) {
    .contributor, .doi, .edit {
      font-size: 3vmin;
    }

    .minioctocat {
      height: 3vmin;
    }
}

.container_radio {
  display: block;
  position: relative;
  padding-left: 1.5vw;
  margin-bottom: 2px;
  cursor: pointer;
  font-weight: normal;
  font-size: 3vh; /* 3vh */
  color: var(--lightgreen); /* Dark green label text color */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default radio button */
.container_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1vmax;
  width: 1vmax;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid var(--transparentgreen);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
    .container_radio {
      font-size: 3vh;
      margin-bottom: 0px;
      padding-left: 7vw;
    }
    
    .checkmark {
      height: 2vmax;
      width: 2vmax;
    }
}

/* On mouse-over, add a grey background color */
.container_radio:hover input ~ .checkmark {
  background-color: var(--white);
}

/* When the radio button is checked, add a blue background */
.container_radio input:checked ~ .checkmark {
  background-color: var(--white);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container_radio .checkmark:after {
 	top: 0.2vmax;
	left: 0.2vmax;
	width: 0.6vmax;
	height: 0.6vmax;
	border-radius: 50%;
	background: var(--lightgreen);
}

@media only screen and (max-width: 600px) {
  .container_radio .checkmark:after {
   	top: 0.4vmax;
  	left: 0.4vmax;
  	width: 1.2vmax;
  	height: 1.2vmax;
  	border-radius: 50%;
  	background: var(--lightgreen);
  }
}

.commun, .commun_en, .status, .protection {
  font-size: 4vmin;
  margin-left: 1vw;
  margin-right: 0vmin;
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
  padding-left: 0vw;
  border-left: 0px solid #00640033;
  border-right: 0px solid #00640033;
  background-color: var(--white);
  border-radius: 0px;
  text-shadow: 1px 1px #fff;
  font-weight: normal;
  color: var(--green);
}

.commun_en {
  color: #999;
  font-style: italic;
}

.status {
  font-weight: normal;
  color: var(--green);
  margin-top: 3vmin;
}

.protection {
  font-weight: normal;
  color: darkred;
  margin-top: 1.5vmin;
}

@media only screen and (max-width: 600px) {
    .commun, .commun_en, .status, .protection {
      font-size: 7vmin;
    }
}


.taxon_container {
  background-color: var(--white);
  border: 0px solid red;
  width: 86vw;
  margin-left: 6vw;
  margin-right: 6vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0vmin;
  letter-spacing: 1px;
  line-height: 1.25;
  font-style: normal;
  font-weight: 300;
  font-size: 2.75vmin;
  border: 0px solid red;
}

@media only screen and (max-width: 600px) {
    .taxon_container {
      width: 100%;
      margin-left: 1vw;
      margin-right: 1vw;
      font-size: 6vmin;
    }
}

.taxon_name {
  color: var(--black);
  font-size: 6vmin; /* Larger font size for dropdowns */
  font-style: italic;
  font-weight: 500;
  transition: transform 0.15s ease-in-out;
  border: 0px solid blue;
}

.taxon_name:hover {
    transform: scale(1.08);
}

@media only screen and (max-width: 600px) {

    .taxon_name {
      font-size: 4vh; /* Larger font size for dropdowns */
    }  
    
    .taxon_name:hover {
       transform: none;
    }
}

.taxon_stats, .taxon_text, .taxon_key {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 4vh;
  padding-bottom: 0vh;
  margin-bottom: 0vmin; 
  display: none;
  border: 0px solid green;
}

.taxon_stats {
  display: flex;
  padding-top: 2vh;
}

.taxon_key {
  font-size: 2.25vmin;
  display: none;
  flex-direction: column;
  border: 0px solid yellow;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

@media only screen and (max-width: 600px) {
    .taxon_stats, .taxon_text, .taxon_key {
      width: 98%;
      margin-left: 0vw;
      margin-right: 0vw;
      padding-left: 0vw;
      padding-right: 0vw;
    }
    .taxon_stats {
      justify-content: center;
      align-items: center;
    }
    .taxon_key {
      font-size: 5.5vmin;
    }
}



    .box{
        /* display: flex; */
        /* justify-content: left; */
        /*align-items: center;*/
        /*min-height: 100vh; */
    }
    
    @media only screen and (max-width: 600px) {
      .box {
        display: none;
      }
    }

    .containertax {
        display: flex;
        grid-auto-flow: column; /* Flow content into columns */
        grid-auto-columns: auto; /* Columns adjust to fit content */
        align-items: center; /* Align all items to center */
        gap: 0.5vw; /* Spacing between items */
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0vw;
        margin: 0vw;
        border: 0px solid #ddd;
        border-radius: 0px;
        background: #ffffff;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    }

    .description {
        font-size: 1.65vmin;
        color: #bbb;
        margin-bottom: 0px;
    }

    .value {
        font-size: 3vmin;
        color: #aaa;
        font-style: italic;
        font-weight: 400;

    }
    
    .linkunderline {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-style: dotted;
    }
    
    .clickable {
        cursor: pointer;
        transition: transform 0.15s ease-in-out;
    }
    
    .clickable:hover {
        transform: scale(1.10);
    }

    .separator {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25vw;
        font-weight: light;
        color: #bbb;
        padding: 0vw;
        margin: 0vw;
    }








